.thumbnails {
  &__main {
    img {
      width: 100%;
      max-width: 100% !important;
      max-height: 500px;
      object-fit: contain;
    }
  }
  &__list__img {
    img {
      width: 100%;
      max-height: 125px;
      object-fit: cover;
      padding: 3px;
    }
  }
}

.clicked {
  border: 2px solid black;
  transform: scale(1.05);
  transition: all 0.2s linear;
}
