@import "../sass/_mixin";
.register {
  &__body {
    width: 100%;
    // max-width: 100%;
    min-height: 600px;
    // padding: 30px 10px;
    &__container {
      // @include absolute;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 500px;
      min-height: 300px;
      background-color: #fff;
      padding: 20px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      .form {
        .field__txt {
          display: flex;
          flex-direction: column;
          input {
            border: 1px solid #ccc;
            padding: 10px 15px;
            font-size: 14px;
            &:focus {
              border: none;
              //   border: 1px solid #000;
              border-bottom: 2px solid #6c6666;
              transition: all 0.2s linear;
              box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            }
            &::placeholder {
              font-size: 14px;
              font-style: italic;
              color: #6e6363;
            }
          }
        }
        button {
          background-color: #000;
          color: #fff;
          padding: 7px 40px;
          &:nth-child(2) {
            padding: 7px 20px;
          }
          //   &:hover:nth-child(2) {
          //     opacity: 0.9;
          //     transition: all 0.2s linear;
          //   }
        }
        .btn {
          a {
            color: #000;
            cursor: pointer;
          }
        }
        span {
          a {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  &__with {
    .flex {
      button {
        width: 100%;
        max-width: 120px;
        // margin: 0 auto;
        padding: 5px 7px;
      }
    }
  }
}
@media (max-width: 768px) {
  .register {
    &__body {
      &__container {
        .form {
          .btn {
            a {
              color: #000;
            }
          }
          span {
            font-size: 13px !important;
          }
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .register {
    &__body {
      &__container {
        // top: 50% !important;
        margin-top: -30px !important;
    
      }
    }

    &__with {
      .flex {
        button {
          padding: 4px 7px !important;
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .register {
    &__body {
      &__container {
        top: 55% !important;
        .form {
          .btn {
            a {
              color: #000;
            }
          }
          span {
            font-size: 12px !important;
          }
        }
      }
    }
  }
}
@media (max-width: 290px) {
  .register {
    &__body {
      &__container {
        h1 {
          font-size: 16px;
          h1 {
            margin-top: 0px !important;
          }
        }
        margin: 0 !important;
      }
    }
  }
}
